body {
	width: 100%;
	height: 100%;
	background-color: #2A2B2B !important;
}

#wrapper {
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	background-color: #66737B;
}

#content {
	width: auto;
}

#imageWrapper > div.col-md-3 {
	padding-right: 50px;
	height 100%;
	
}

#imageWrapper > div.col-md-3 > ul > li.active, #imageWrapper > div.col-md-3 > ul > li.dropdown > a, 
#imageWrapper > div.col-md-3 > ul > li:nth-child(3) > a, #imageWrapper > div.col-md-3 > ul > li:nth-child(4) > a {
	color: white !important;
	font-weight: bold !important;
}

#imageWrapper > div.col-md-3 > ul > li.active > a {
	background-color: #FF4D4D !important;
	color: white !important;

}

#imageWrapper > div.col-md-3 > ul > li.dropdown > a:hover, #imageWrapper > div.col-md-3 > ul > li:nth-child(3) > a:hover, #imageWrapper > div.col-md-3 > ul > li:nth-child(4) > a:hover {
	color: black !important;
}

#navbar > nav > div {
	font-weight: bold;
}